// main: ../flattish.scss

// sidebar fix
.res-nightmode .icon-menu a {
    background-color: $dark-cards !important;
}

// Spoiler tag within comments. Your comment should be: "[This is a spoiler sentence.](/spoiler)"
a[href$="/spoiler"] {
  background: $black !important;
  color: $black !important;

  &:hover { color: $white !important; }
}

// stickied posts
.stickied .title { color: $primary !important; }

// link flairs
.linkflairlabel {
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    border: none;
    color: #000 !important;
    font-size: 12px;
    padding: 0 8px;
    margin: 2px 6px 2px 0;
    max-width: none;
}

.res-nightmode
.linkflairlabel {
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    border: none;
    color: #fff !important;
    font-size: 12px;
    padding: 0 8px;
    margin: 2px 6px 2px 0;
    max-width: none;
}

.linkflair-announcement .linkflairlabel {
  padding: 2px;
  color: $white;
  font-weight: bold;
  background-color: $black;
}

.res-nightmode body:not(.comments-page) .linkflair-spoiler a.title,
body:not(.comments-page) .linkflair-spoiler a.title {
  background: $black!important;
  color: $black!important;
  @include transition-default;

  &:hover {
    background: transparent!important;
    color: $primary!important;
  }
}

// Linkflair for news
.linkflair-review span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-news;
}

.linkflair .linkflair-review > span {
    color: #fff !important;
    background-color: $flair-news !important;
}

// Linkflair for releases
.linkflair-fancam span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-release;
}

.linkflair .linkflair-fancam > span {
    color: #fff !important;
    background-color: $flair-release !important;
}

// Linkflair for teasers
.linkflair-funny span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-teaser;
}

.linkflair .linkflair-funny > span {
    color: #fff !important;
    background-color: $flair-teaser !important;
}

// Linkflair for discussions
.linkflair-discussion span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-discussion;
}

.linkflair .linkflair-discussion > span {
    color: #fff !important;
    background-color: $flair-discussion !important;
}

// Linkflair for performance
.linkflair-cover span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-performance;
}

.linkflair .linkflair-cover > span {
    color: #fff !important;
    background-color: $flair-performance !important;
}

// Linkflair for variety
.linkflair-misc span.linkflairlabel {
    color: #fff !important;
    background-color: $flair-variety;
}

.linkflair .linkflair-misc > span {
    color: #fff !important;
    background-color: $flair-variety !important;
}

// Linkflair for spoiler
.linkflair span.linkflair-spoiler {
    color: #000 !important;
    background-color: transparent;
}

.linkflair .linkflair-spoiler > span {
    color: #000 !important;
    background-color: transparent !important;
}

// Linkflair for error
.linkflair span.linkflair-error {
    color: #000 !important;
    background-color: transparent;
}

.linkflair .linkflair-error > span {
    color: #000 !important;
    background-color: transparent !important;
}

// Sidebar search buttons
.side .md [href*="search?q=flair"] {
    display: inline-block;
    padding: 2px 8px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    margin: 4px;
    border-radius: 3px;
}

.side .md [href*="search?q=flair%3A%22review"] {
    background: $flair-news;
}
.side .md [href*="search?q=flair%3A%22funny"] {
    background: $flair-teaser;
}
.side .md [href*="search?q=flair%3A%22discussion"] {
    background: $flair-discussion;
}
.side .md [href*="search?q=flair%3A%22mashup"] {
    background: $flair-release;
}
.side .md [href*="search?q=flair%3A%22song"] {
    background: $flair-performance;
}
.side .md [href*="search?q=flair%3A%22misc"] {
    background: $flair-variety;
}

// Sidebar filtering buttons
.side .md a[href*="kr-"] {
    display: inline-block;
    padding: 10px 8px;
    font-weight: bold;
    color: rgba(0,0,0,0.54);
    line-height: 14px;
    margin: 0px 4px 5px 0px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 48%;
    text-align: center;
    font-size: 1.1666666666666667em;
    background-color: #EFEFEF;
    &:hover {
        color: #fff;
        background-color: #3CCADE;
    }
}

.res-nightmode
.side .md a[href*="kr-"] {
    display: inline-block;
    padding: 10px 8px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    margin: 0px 4px 5px 0px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 48%;
    text-align: center;
    font-size: 1.1666666666666667em;
    background-color: #303030;
    &:hover {
        background-color: #4dd0e1;
    }
}

.side .md a[href*="#"] {
    display: inline-block;
    padding: 10px 8px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    margin: 0px 4px 5px 0px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 48%;
    text-align: center;
    font-size: 13px;
}

// If on homepage, hide all the show buttons
:not([lang^="kr-"]) .side .md [href*="s="] {
    display: none;
}

[lang^="kr-"] .side .md [href^="//reddit.com"] {
    display: inline-block;
    color: #fff;
    background-color: #FF8CC6;
    &:hover {
        color: #4f4f4f;
        background-color: #EFEFEF;
    }
}

.res-nightmode
[lang^="kr-"] .side .md [href^="//reddit.com"] {
    display: inline-block;
    color: #fff;
    background-color: #FF8CC6;
    width: 46%;
    &:hover {
        background-color: #303030;
    }
}

// Filtering funny
html:lang(kr-01) .linkflair-funny {
    display: none;
}

html:lang(kr-01) .side .md [href*="kr-01"] {
    display: none;
}

// Filtering covers
html:lang(kr-02) .linkflair-cover {
    display: none;
}

html:lang(kr-02) .side .md [href*="kr-02"] {
    display: none;
}

// Filtering reviews
html:lang(kr-03) .linkflair-review {
    display: none;
}

html:lang(kr-03) .side .md [href*="kr-03"] {
    display: none;
}

// Filtering discussions
html:lang(kr-04) .linkflair-discussion {
    display: none;
}

html:lang(kr-04) .side .md [href*="kr-04"] {
    display: none;
}

// Filtering fancams
html:lang(kr-05) .linkflair-fancam {
    display: none;
}

html:lang(kr-05) .side .md [href*="kr-05"] {
    display: none;
}

// Filtering misc
html:lang(kr-06) .linkflair-misc {
    display: none;
}

html:lang(kr-06) .side .md [href*="kr-06"] {
    display: none;
}

/*

Making changes to the top bar

*/

#header-bottom-left .tabmenu li [href*="controversial"] {
    display: none !important;
}

#header-bottom-left .tabmenu li [href*="ads"] {
    display: none !important;
}

.tb-metrics > a {
    display: none !important;
}

.user .userkarma {
    font-size: 14px;
    font-weight: normal;
}

#header-bottom-right > span.user > a {
    font-size: 14px;
}


// For collapsible rules
.side h5+ul,
.side h5+ul {
    padding: 0 8px;
    margin: 0 !important;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.side h5:hover+ul,
.side h5+ul:hover {
    height: auto;
    padding: 8px;
    max-height: 500px;
}

.side .md a[href*="/r/kpop/wiki/rules#wiki_iii._title_formatting_guide"] {
    font-weight: bold;
   	display: initial;
    padding: initial;
    font-weight: initial;
    color: #2196f3;
    line-height: initial;
    margin: initial;
    border-radius: initial;
    box-sizing: initial;
    width: initial;
    text-align: initial;
    font-size: 12px;

    &:visited {
        color: #9575D9
    }
}

.side .md a[href*="/r/kpop/wiki/rules#wiki_b.__group-specific_content"] {
    font-weight: bold;
   	display: initial;
    padding: initial;
    font-weight: initial;
    color: #2196f3;
    line-height: initial;
    margin: initial;
    border-radius: initial;
    box-sizing: initial;
    width: initial;
    text-align: initial;
    font-size: 12px;

    &:visited {
        color: #9575D9
    }
}

.side h5:nth-of-type(3) {
    text-align: center;
    background-color: $accent !important;
    font-weight: bold;

    a {
        color: #fff !important;
        display: inline-block;
        width: 100%;
    }

    &:hover {
        background-color: $dark-accent !important;
    }
}

.side h5:nth-of-type(n+3) {
	background-color: #eee;
    padding: 5px 15px;
    border-bottom: 2px solid #ccc;
	margin-top: 0;
	margin-bottom: 0;
    color: rgba(0,0,0,0.54);
}

.res-nightmode
.side h5:nth-of-type(n+3) {
    padding: 5px 15px;
    border-bottom: 2px solid #ccc;
	margin-top: 0;
	margin-bottom: 0;
    background-color: #303030;
    color: rgba(255,255,255,0.9);
}

.side h5:nth-of-type(n+13) {
    margin-bottom: 0.7142857142857143em !important;
}

.side h5:nth-child(34) {
    visibility: hidden;
}

.side h4:first-of-type {
    font-weight: bold;
}

.res-nightmode
.side .md ul:nth-child(2) {
    background-color: #303030;
    li {
        background-color: #292929;
    }
}

.side .md ul:nth-child(2) {
	position: absolute;
    top: 219px;
    /* display: inline-block; */
    background-color: #f1f1f1;
    left: 0px;
    width: 100%;
    height: 30px;
    margin-left: 90px;

	li {
		display: inline-block;
        width: 150px;
        text-align: center;
        line-height: 35px;
        font-weight: 500;
        font-size: 14px;
        background-color: rgba(221, 221, 221, 0.7);
        margin: 0 25px;

        a {
            color: #fff;
        }

        &:nth-child(1) {
            &:hover {
                background-color: #dd5e89;
            }
            a {
                padding: 10px 50px;
                color: #dd5e89;
                &:hover {
                    color: #fff;
                }
            }
        }

        &:nth-child(2) {
            &:hover {
                background-color: #4caf50;
            }
            a {
                color: #4caf50;
                padding: 10px 30px;
                &:hover {
                    color: #fff;
                }
            }
        }

        &:nth-child(3) {
            background-color: #9575cd;
            a {
                padding: 10px 30px;
            }
        }
	}

}

