@import "content/sitetable";

.res-nightmode div.content {
    background-color: transparent !important;
    margin-top: 36px;
}

.modtools-page div.content,
div.content {
	margin : {
		right: 345px;
		left: 10px;
        top: 36px
	}
}

// reddit newsletter infobar
.infobar.newsletterbar {
	width: 100%;
	overflow: visible;
}
